@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #92be45e6 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(rgba(76, 4, 4, 1) 0%, rgba(255, 49, 2, 1) 49%, rgba(243, 227, 55, 1) 95%);
  
  --color-bg: #262121;
  --color-footer : #840b0b;
  --color-blog: #042c54;
  --color-text: #FFFACD;
  --color-subtext: #FF8A71;
}